include CREDITS.txt
include LICENSE.txt
include pykml/kml_ogc/schemas/*.xsd
include pykml/kml_gx/schemas/*.xsd
include pykml/kml_ogc/test/*.py
include pykml/kml_gx/test/*.py
recursive-include examples *.py